@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Index.cshtml.css" asp-append-version="true" />
}

<form method="post" id="form-calc">
    <div>
        <label for="input-income">Enter your income:</label><br/>
        <div id="input-income-wrapper">
            <span id="input-income-currency-sign">€</span>
            <input
                type="number"
                id="input-income"
                name="income"
                placeholder="Enter your income"
                value="0"
                min="0"
                step="0.01"
                required
                autofocus
                asp-for="Income"/>
        </div>
    </div>

    <div>
        <label for="input-period">Select a period:</label><br/>
        <select name="period" id="input-period" required asp-for="Period">
            <option value="">Select a period</option>
            <option value="Annual">Annual</option>
            <option value="Monthly">Monthly</option>
            <option value="Hourly">Hourly</option>
        </select>
    </div>

    <div>
        <label for="input-hours">
            Enter your hours (per week):
        </label
        ><br/>
        <input
            type="number"
            id="input-hours"
            name="hours"
            placeholder="Enter your hours"
            value="40"
            min="2"
            max="112"
            step="2"
            required
            asp-for="Hours"/>
    </div>

    <button type="submit" id="btn-submit">Calculate</button>
</form>